---
import type { MarkdownLayoutProps } from "astro";
import Article from "../components/Article.astro";
import Header from "../components/Header.astro";
import Index from "../components/Index.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/fonts.css";

type Props = MarkdownLayoutProps<{
  title: string;
  index: boolean;
}>;

const {
  headings,
  frontmatter: { title, index },
} = Astro.props;
---

<!DOCTYPE html>
<html class="scroll-smooth scroll-pt-[5.5rem]" style="zoom: 105%" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/modular-diffusion/images/logo.ico"
    />
    <title>{title} | Modular Diffusion</title>
    <meta
      name="description"
      content="Learn about Modular Diffusion, an easy-to-use Python library for designing and training your own custom Generative Diffusion Models."
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="flex flex-col text-gray-800">
      <Header />
      <Sidebar />
      <div class="lg:ml-72 mt-12 sm:mt-14 flex justify-center">
        <Article>
          <slot />
          {
            index && (
              <>
                <hr />
                <p>
                  <em>
                    If you spot any typo or technical imprecision, please submit
                    an issue or pull request to the library's
                    <a href="https://github.com/cabralpinto/modular-diffusion">
                      GitHub repository
                    </a>
                    .
                  </em>
                </p>
              </>
            )
          }
        </Article>
        {index ? <Index headings={headings} /> : ""}
      </div>
    </div>
  </body>
</html>
